body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.options {
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

#password {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

.generate-button {
    transition-duration: 1s;
}

.generate-button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
